- if logged_in?

  %h1 Vos dernières courses

  - if @friends.any?
    %ul#friends
      - for friend in @friends.sort_by {|friend| friend['name'] }
        %li= link_to friend['name'], "/shared_interests/#{ friend['id'] }?friend_name=#{ friend['name'] }"
  - else
    %p 
      Vous n'avez aucune course enregistrée pour l'instant.
      %a(href='/run/add')Souhaitez-vous en rajouter une ?


- else
  %h1 A propos
  %p
    Zen-runnin' est une application simple de suivi de vos courses, utilisant votre compte facebook pour partager vos performances avec vos amis et connaître les leurs.
  %p
    Le site Zen-runnin' est à la base un petit projet pour jouer avec les API facebook et mieux les connaître - il n'a pas vocation à devenir payant et reste sans garantie
 
