- if logged_in?

  #title
    %span#title-p Vos dernières courses
    %a{:href=>'/run/add',:class=>'awesome'}Nouvelle course
    %a{:href=>'/run/stats',:class=>'awesome'}Mes stats



  - if @runs.any?
    = @runs.each do |run|
      .the_date
        .date_m MAI
        .date_d 23
  
    - if Integer(@offset) == 0
      - if @end == "False"
        .INforward
          %a{:href=>'/pages/#{(Integer(@offset)+1).to_s()}',:id=>'forward'}
            Page Suivante
    - else
      - if @end == "False"
        .INforward
        %a{:href=>'/pages/#{(Integer(@offset)+1).to_s()}',:id=>'forward'}
          Page Suivante
      .INrewind
        %a{:href=>'/pages/#{(Integer(@offset)+1).to_s()}',:id=>'rewind'}
          Page Précédente


  - else
    %p 
      Vous n'avez aucune course enregistrée pour l'instant.
      %a(href='/run/add')Souhaitez-vous en rajouter une ?


- else
  %h2 A propos
  %p
    Zenrunnin' est une application simple de suivi de vos courses, utilisant votre compte facebook pour partager vos performances avec vos amis et connaître les leurs.
  %p
    Le site Zenrunnin' est à la base un petit projet pour jouer avec les API facebook et mieux les connaître - il n'a pas vocation à devenir payant et reste sans garantie


